<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">

	<!-- Define the logging configuration -->
	<targets>
		<!-- File target for writing logs -->
		<target name="file" xsi:type="File" fileName="${basedir}/logs/logfile-${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Log all messages to the file -->
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
